body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #333;
    color: whitesmoke;
    line-height: 1.4em;
    margin: 0;
}

p{
    margin-bottom: 1.6em;
}

.container{
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}

.header{
    background: black;
    color: whitesmoke;
    margin: 0;
    padding: 2rem 0;

    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 50px;
}

.header a{
    color: whitesmoke;
    text-decoration: none;
    margin: 0;
}


.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    letter-spacing: 15px;
    font-size: 1.2em;
}

.menu-icon{
    display: none;
}

.navigation ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
    .navigation ul li{
        display: inline-block;
    }
        .navigation ul li a{
            display: inline-block;
            padding: 0.5rem 1rem;
            transition: all 0.4s linear;
            border-radius: 5px;
        }
            .navigation ul li a:hover{
                background-color: rgba(255, 217, 0, 0.493);
            }
.main{
    padding-top: 12rem;

}
.footer{
    background: #575656;
    padding: 4rem 0;
    text-align: center;
    margin-top: 6rem;
    color: black;
}

@media only screen and (max-width:767px){

    .menu-icon{
        display: block;
        cursor: pointer;
        padding: 0.5rem 1rem;
    }

    .navigation{
        width:100%;
        margin-top: 1rem;
    }
        .navigation ul{
            display: none;
        }

        .navigation ul.show{
            display: block;
        }

        .navigation ul li{
            display: block;
        }
            .navigation ul li a{
                display: inline-block;
                padding: 0.5rem 0;
                transition: all 0.4s linear;
                border-radius: 5px;
            }
                .navigation ul li a:hover{
                    background-color: rgba(255, 217, 0, 0.493);
                }
}


/* LOGIN HTML */

.form2{
    padding: 20px;
    text-align: center;
    color: whitesmoke;
    margin-top: 150px;
}

.main_sesion{
    margin-bottom: 30px;
    font-size: 30px;
}

.name{
    margin-bottom: 20px;
}

.name label{
    margin: 0 auto;
}

.pass label{
    margin: 0 auto;
}


#nombre{
    width: 400px;
    height: 30px;
}

#pass{
    width: 400px;
    height: 30px;
}

.recordarpass{
    width: 400px;
    height: 30px;
    margin: 0 auto;
}

.check{
    float: left;
}

.forgot-password{
    float: right;
    color: rgba(255, 217, 0, 0.493);
}

.forgot{
    text-decoration: underline;
}


.botonInicio{
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    display: inline-block;
    width: 400px;
    color: white;
    font-size: 20px;
    border-radius: 15px;
    text-align: center;
    background-color:black;
    transition: all 0.4s linear;
}

.botonInicio:hover{
    background-color:rgba(255, 217, 0, 0.493);
}

.form-registro a{
    color: #b85635;
}

@media screen and (max-width:450px) {
    .main_sesion{
        font-size: 20px;
    }
    #nombre{
        width: 300px;
    }
    #pass{
        width: 300px;
    }
    .recordarpass{
        width: 300px;
    }
    .botonInicio{
        width: 300px;
    }
}