* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background-color: #1e1e1e !important;
}

.acercaDe {
    border-bottom: 1px solid transparent !important;
}

p {
    text-align: justify;
    font-size: 16px;
    letter-spacing: 0.02em;
    max-width: 100%;
    line-height: 1.3em;
}


.titulo{
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100px;
    /* position: absolute;
    left: 70%;
    top: 200px; */
    text-align: center;
    transition: all 0.4s ease;
}

.videoVogue {
    /* margin: 0 auto; */
    display: flex;
    justify-content: center;
    /* position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    /* margin: auto; */
    /* max-width: 100%; */
    /* max-height: 100%; */
    /* width: 70%; */
    margin-bottom: 50px;
}

.header {
    color: whitesmoke;
    max-width: 100%;
    height: 400px;
    background-image: url(../imgs/img2.jpg);
    background-attachment: fixed;
    background-position: 0 -250px;
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
}

.logoST {
    position: relative;
    width: 100%;
    height: 95px;
    size: cover;
}

.main {
    /* height: 1600px; */
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    color: antiquewhite;
}

/* .footer p {
    color: whitesmoke;
    padding: 20px;
    text-align: center;
} */

.sidebar {
    position: absolute;
    width: 220px;
    left: 0;
    height: 100%;
    transform: translate(-520px);
    transition: transform 1s;
    z-index: 999;
}

.sidebar .textlogo {
    color: white;
    font-size: 25px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
    background: black;
    letter-spacing: 1px;
}

.sidebar .textlogo a {
    text-decoration: none;
    list-style: none;
    color: white;
}

.sidebar.show {
    transform: translate(0px);
    transition: transform 0.7s;
}

nav ul {
    background: #1e1e1e;
    width: 100%;
    list-style: none;
    z-index: 999;
    padding-left: 0px;
}

nav ul .marcas-show.show {
    display: block;
}

nav ul .cat-show.show {
    display: block;
}

nav ul li {
    line-height: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

nav ul li a {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-left: 40px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
}

nav ul li a:hover {
    color: cyan;
    background: #1e1e1e;
    border-left: 6px solid cyan;
}

nav ul ul {
    position: static;
    display: none;
}

nav ul ul li {
    line-height: 42px;
    border-bottom: none;
}

nav ul ul li a {
    font-size: 17px;
    color: #e6e6e6;
    padding-left: 60px;
    border-left: #1b1b1b !important;
}

nav ul li a span {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 22px;
    transition: transform 0.2s;
}

nav ul li a span.rotate {
    transform: translateY(-50%) rotate(-180deg);
}

.cat-show li{
    display: inline-block;
    /* width: 170px; */

}



/*----------------------------------------------------*/
/*-------------------BOTON BURGUER--------------------*/
/*----------------------------------------------------*/
.menu-btn {
    position: relative;
    left: -20px;
    display: flex;
    justify-content: center;
    width: 80px;
    height: 50px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    background-attachment: fixed;
}


.menu-btn_burguer {
    width: 30px;
    height: 6px;
    margin-top: 30%;
    background: cyan;
    border-radius: 5px;
    box-shadow: 0 2px 5px cyan;
    transition: all .5s ease-in-out;
}

.menu-btn_burguer::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: cyan;
    border-radius: 5px;
    box-shadow: 0 2px 5px cyan;
    transition: all .5s ease-in-out;
}

.menu-btn_burguer::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: cyan;
    border-radius: 5px;
    box-shadow: 0 2px 5px cyan;
    transition: all .5s ease-in-out;
}

.menu-btn_burguer::before {
    transform: translateY(-16px);
}

.menu-btn_burguer::after {
    transform: translateY(16px);
}

/*-----------------ANIMACION BOTON BURGUER----------------*/
.menu-btn.open {
    transform: translateX(215px);
}

.menu-btn.open .menu-btn_burguer {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn_burguer::before {
    transform: rotate(45deg) translate(35px, -35px);
    background: black;
    margin-left: 2px;
    margin-top: -10px;
    width: 25px;
    height: 5px;
    border-radius: 2px;
}

.menu-btn.open .menu-btn_burguer::after {
    transform: rotate(-45deg) translate(35px, 35px);
    background: black;
    margin-left: 2px;
    margin-top: -10px;
    width: 25px;
    height: 5px;
}

img {
    vertical-align: middle;
    align-items: center;
    margin: 0 auto;
}

#img1 {
    height: 550px !important;
}

.carousel-item p {
    text-align: center;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    color: white;
    border-color: 10px solid cyan;
}

.carousel-item h5 {
    text-align: center;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    color: white;
    border-color: 10px solid cyan;
}

.footer {
    background: #575656;
    padding: 1rem 0;
    /* margin-top: 1rem; */
}

.footer p {
    text-align: center;
    margin-top: 1rem;
    color: whitesmoke;
}

/*-------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------RESPONSIVE-------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width:767px) {
    .header {
        /* color: whitesmoke; */
        /* max-width: 100%; */
        height: 200px;
        /* background-image: url(/imgs/clothes.jpg);
        background-attachment: fixed;
        background-position:center -125px;
        background-size: cover;
        overflow: hidden;
        background-repeat: no-repeat; */
    }

    .logo {
        letter-spacing: 25px;
    }

    /*-----------------------SIDERBAR--------------------*/
    .sidebar {
        /* position: absolute; */
        width: 150px;
        /* left: 0; */
        /* height: 100%; */
        background-color: black;
        /* transform: translate(-520px); */
        /* transition: transform 1s; */
        /* z-index: 999; */
    }

    .sidebar .textlogo {
        /* color: white; */
        font-size: 15px;
        margin: auto;
        /* font-weight: 600; */
        line-height: 50px;
        /* text-align: center; */
        /* background: black; */
    }

    /* .sidebar.show {
        transform: translate(0px);
        transition: transform 0.7s;
    } */

    .sidebar .textlogo a {
        /* text-decoration: none; */
        /* list-style: none; */
        /* color: white; */
        margin: 0 auto;
        padding: auto;
        letter-spacing: 0.8em;
        text-align: center;
    }

    nav ul {
        /* background: #1b1b1b; */
        height: 100%;
        /* width: 100%; */
        /* list-style: none; */
    }

    /* nav ul .marcas-show.show {
        display: block;
    } */

    /* nav ul .cat-show.show {
        display: block;
    } */

    nav ul li {
        line-height: 35px;
        /* border-bottom: 1px solid rgba(255, 255, 255, 0.1); */

    }

    nav ul li a {
        /* position: relative; */
        /* color: white; */
        /* text-decoration: none; */
        font-size: 13px;
        padding-left: 20px;
        /* font-weight: 500; */
        /* display: block; */
        /* width: 100%; */
        border-left: 1.5px solid transparent;
    }

    nav ul li a:hover {
        /* color: cyan; */
        /* background: #1e1e1e; */
        border-left: 3px solid cyan;
    }
/* 
    nav ul ul {
        position: static;
        display: none;
    } */

    nav ul ul li {
        line-height: 35px;
        /* border-bottom: none; */
    }

    nav ul ul li a {
        font-size: 12px;
        /* color: #e6e6e6; */
        padding-left: 10px;
        /* border-left: #1b1b1b !important; */
    }

    nav ul li a span {
        /*--Flechas--*/
        /* position: absolute; */
        /* top: 50%; */
        /* right: 20px; */
        /* transform: translateY(-50%); */
        font-size: 15px;
        /* transition: transform 0.2s; */
    }

    /* nav ul li a span.rotate { */
        /*Rotacion de flechas*/
        /* transform: translateY(-50%) rotate(-180deg); */
    /* } */

    .cat-show li{
        display: inline-block;
        width: 120px;
    }
    /*----------------------------------------------------*/
    /*-------------------BOTON BURGUER--------------------*/
    /*----------------------------------------------------*/
    .menu-btn {
        position: relative;
        top: -7px;
        left: -20px;
        display: flex;
        justify-content: center;
        width: 80px;
        height: 40px;
        cursor: pointer;
        transition: all .5s ease-in-out;
        background-attachment: fixed;
    }

    .menu-btn_burguer {
        /*Linea media*/
        width: 30px;
        height: 6px;
        margin-top: 30%;
        background: black;
        border-radius: 5px;
        box-shadow: 0 2px 5px cyan;
        transition: all .5s ease-in-out;
    }

    .menu-btn_burguer::before {
        /*Linea inferior*/
        content: '';
        position: absolute;
        width: 30px;
        height: 6px;
        background: black;
        border-radius: 5px;
        box-shadow: 0 2px 5px cyan;
        transition: all .5s ease-in-out;
    }

    .menu-btn_burguer::after {
        /*Linea superior*/
        content: '';
        position: absolute;
        width: 30px;
        height: 6px;
        background: black;
        border-radius: 5px;
        box-shadow: 0 2px 5px cyan;
        transition: all .5s ease-in-out;
    }

    .menu-btn_burguer::before {
        transform: translateY(-12px);
    }

    .menu-btn_burguer::after {
        transform: translateY(12px);
    }

    /*-----------------ANIMACION BOTON BURGUER----------------*/
    .menu-btn.open .menu-btn_burguer {
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
    }

    .menu-btn.open .menu-btn_burguer::before {
        transform: rotate(45deg) translate(35px, -35px);
        background: black;
        margin-left: -67px;
        width: 15px;
        height: 5px;
    }

    .menu-btn.open .menu-btn_burguer::after {
        transform: rotate(-45deg) translate(35px, 35px);
        background: black;
        margin-left: -67px;
        width: 15px;
        height: 5px;
    }

    #img1 {
        height: 450px !important;
    }

    .videoVogue iframe{
        /* margin: 0 auto; */
        /* position: relative; */
        /* top: 0; */
        /* left: 0; */
        /* right: 0; */
        /* bottom: 0; */
        /* margin: auto; */
        /* max-width: 100%; */
        /* max-height: 100%; */
        transform: scale(0.9);
        /* width: 100%; */
        /* margin-bottom: 50px; */
    }


}


@media screen and (max-width:500px) {

    .videoVogue iframe{
        /* margin: 0 auto; */
        /* position: relative; */
        /* top: 0; */
        /* left: 0; */
        /* right: 0; */
        /* bottom: 0; */
        /* margin: auto; */
        /* max-width: 100%; */
        /* max-height: 100%; */
        transform: scale(0.7);
        /* width: 100%; */
        /* margin-bottom: 50px; */
    }

}